<section class="container p-10 grid grid-cols-4 gap-5">
    <div class="col-span-1 border rounded" >
        <img class="w-full rounded" src="{{Member().photoURL || './assets/images/default.webp'}}" [alt]="Member().knownAs">
       @if(isOnline()){
        <div class="p-2 text-center text-green-400 font-semibold">
            <i class="fa fa-user-circle"></i>
            online
        </div>
       }
        <div class="p-2">
        <p><span class="font-bold my-1">Location:</span> {{Member().city}}, {{Member().country}}</p>
        <p><span class="font-bold my-1">Gender:</span> {{Member().gender}}</p>
        <p><span class="font-bold my-1">Age:</span> {{Member().age}}</p>
        <p><span class="font-bold my-1">Last active:</span> {{Member().lastActive | timeago }}</p>
        <p><span class="font-bold my-1">Member since:</span> {{Member().created | date }}</p>
       </div>
    </div>
    <div class="col-span-3">
        <div class="sm:hidden">
           
        </div>
        <ul class="hidden sm:flex text-sm font-medium text-center text-gray-500 rounded-lg shadow-sm">
            <li class="w-full focus-within:z-10">
                <a routerLinkActive="active" [routerLink]="['about']" [queryParams]="{Introduction: Member().introduction, KnownAs: Member().knownAs}" class="inline-block rounded-t w-full p-4 text-gray-900 bg-white border-r border-gray-200" aria-current="page">
                    About {{Member().knownAs}}
                </a>
            </li>
            <li class="w-full focus-within:z-10">
                <a routerLinkActive="active" [routerLink]="['interests']" [queryParams]="{Interests: Member().interests,LookingFor: Member().lookingFor}" class="inline-block rounded-t w-full p-4 text-gray-900 bg-white border-r border-gray-200" aria-current="page">
                    Interests
                </a>
            </li>
            <li class="w-full focus-within:z-10">
                <a routerLinkActive="active" [routerLink]="['photos']"  [queryParams]="{data:SerializedImages}" class="cursor-pointer inline-block rounded-t w-full p-4 text-gray-900 bg-white border-r border-gray-200" aria-current="page">
                   Photos
                </a>
            </li>
            <li class="w-full focus-within:z-10">
                <a routerLinkActive="active" [routerLink]="['messages']" class="inline-block rounded-t w-full p-4 text-gray-900 bg-white border-r border-gray-200" aria-current="page">
                    Messages
                </a>
            </li>
        </ul> 
        <div class="bg-gray-100 p-5 rounded-b">
            <router-outlet></router-outlet>
        </div>   
    </div>
</section>