<section class="p-10">
<h2 class="text-white rounded px-4 py-2 bg-yellow-300 font-semibold">
    Attention <span class="font-normal">
        <i class="fa-solid fa-circle-exclamation"></i> Any unsaved information will be lost!!
    </span>
</h2>
<form id="EditForm" #editForm="ngForm" (ngSubmit)="updateSubmit()">
<div class="my-2">
<h4 class="font-semibold mb-2">Introduction</h4>
<textarea name="introduction" class="rounded py-2 px-4 w-full" rows="4" [(ngModel)]="Member().introduction"></textarea>
</div>
<div class="my-2">
    <h4 class="font-semibold mb-2">Looking For</h4>
    <textarea name="lookingFor" class="rounded py-2 px-4 w-full" rows="4" [(ngModel)]="Member().lookingFor"></textarea>
 </div>
 <div class="my-2">
    <h4 class="font-semibold mb-2">Interests</h4>
    <textarea name="interests" class="rounded py-2 px-4 w-full" rows="4" [(ngModel)]="Member().interests"></textarea>
 </div>
 <div class="border p-3 rounded">
    <h4 class="font-semibold mb-2">Location</h4>
    <div class="flex">
        <div class="flex justify-center items-center">
            <label class="p-2 block text-sm font-semibold" for="city">City</label>
            <input type="text" name="city" [(ngModel)]="Member().city" class="rounded py-2 px-4" >
        </div>
        <div class="flex justify-center items-center">
            <label class="p-2 block text-sm font-semibold" for="country">Country</label>
            <input type="text" name="country" [(ngModel)]="Member().country" class="rounded py-2 px-4" >
        </div>   
    </div>
</div>
</form>
</section>
