<div>
    <label [for]="label()" class="text-sm font-light mb-1">{{label()}}</label>
    <input [id]="label()" [formControl]="control" 
    [class.border-sky-500]="ngControl.invalid && ngControl.touched"
    [type]="type()"
    class="bg-gray-50 border-2 placeholder:text-sm placeholder:text-gray-300 border-gray-100 text-gray-900 text-sm focus:outline-none focus:border-none rounded-lg block w-full p-2.5" 
    [placeholder]="label()"
    required />
    <p *ngIf="control.hasError('required') && control.touched" class="text-sky-500 text-sm">
        {{label()}} is required
    </p>
    <p *ngIf="control.hasError('minlength') && control.touched" class="text-sky-500 text-sm">
        minimum length {{control.errors?.['minlength'].requiredLength}} characters
    </p>
    <p *ngIf="control.hasError('maxlength') && control.touched" class="text-sky-500 text-sm">
        minimum length {{control.errors?.['maxlength'].requiredLength}} characters
    </p>
    <p *ngIf="control.hasError('mismatch') && control.touched" class="text-sky-500 text-sm">
       Confirm password not match
    </p>
</div>