<section class="container p-10">
    <h1 class="font-semibold text-center mb-5 text-2xl">
        {{getTitle()}}
    </h1>
    <div class="inline-flex rounded-md shadow-xs" role="group">
        <button type="button" (click)="setPredicate('liked')" class="px-4 py-2 text-sm font-medium text-red-600 bg-transparent border border-red-700 rounded-s-lg hover:bg-red-600 hover:text-white focus:z-10 focus:ring-0 focus:bg-red-600 focus:text-white ">
            Members i like
        </button>
        <button type="button" (click)="setPredicate('likedBy')" class="px-4 py-2 text-sm font-medium text-red-600 bg-transparent border border-red-700 hover:bg-red-600 hover:text-white focus:z-10 focus:ring-0 focus:bg-red-600 focus:text-white ">
            Members who like me
        </button>
        <button type="button" (click)="setPredicate('mutual')" class="px-4 py-2 text-sm font-medium text-red-600 bg-transparent border border-red-700 rounded-e-lg hover:bg-red-600 hover:text-white focus:z-10 focus:ring-0 focus:bg-red-600 focus:text-white ">
            Mutual
        </button>
    </div>
    <div>
        <div class="grid grid-cols-6 gap-5 mt-10">
            @for(member of Members(); track member.id){
                <div class="col-span-1">
                    <app-member-card [Member]="member"></app-member-card>
                </div>
            }
        </div>
    </div>
    @if(Members()?.length){
        <div class="mt-10">
            <app-pagination></app-pagination>
        </div>
       }
</section>
