


<div class="card bg-white border border-gray-200 rounded-lg shadow-sm">
    <div class="overflow-hidden relative">
        <img class="rounded-t-lg w-full"  src="{{Member().photoURL || './assets/images/default.webp'}}" [alt]="Member().knownAs" />
        <ul class="w-full card-user-buttons flex flex-wrap justify-center items-center gap-3">
            <li routerLink="/members/{{Member().userName}}" class="bg-red-500 hover:bg-sky-700 rounded-lg cursor-pointer">
                <i class="fa-solid fa-user text-white p-2 flex items-center justify-center"></i>
            </li>
            <li [routerLink]="[Member().userName+'/messages']" class="bg-red-500 hover:bg-sky-700 rounded-lg cursor-pointer">
                <i class="fa-solid fa-message text-white p-2 flex items-center justify-center"></i> 
            </li>
            <li (click)="toggleLike()" class="bg-red-500 hover:bg-sky-700 rounded-lg cursor-pointer">
                <i class="fa-solid fa-heart text-white p-2 flex items-center justify-center"></i> 
            </li>
        </ul>
    </div>
   
    <div class="text-center my-2">
        <h5 class="text-lg my-1 font-semibold tracking-tight text-gray-700 dark:text-white">
            <span [class.is-online]="isOnline()">
                <i class="fa-solid fa-user fa-sm"></i>
            </span>
            {{Member().knownAs}}, {{Member().age}}
            @if(hasLiked()){
                <div class="inline">
                    <i class="fa-solid fa-heart text-red-500 fa-sm"></i>
                </div>
            }
        </h5>
        <p class="font-semibold text-gray-400">{{Member().city}}</p>
    </div>
</div>

