<div class="border border-sky-100 rounded-lg">
  <div class="font-semibold text-sm text-gray-500">
    <ul class="flex flex-wrap">
      <li class="mr-2" *appHasRole="['Admin']">
        <button 
          (click)="setActiveTab('user-management')" 
          [class.text-sky-600]="activeTab === 'user-management'"
          [class.border-sky-600]="activeTab === 'user-management'"
          class="block p-4 border-b-2"
        >
          User management
        </button>
      </li>
    </ul>
  </div>
  <!-- Tab Content -->
  <div class="py-5">
    
    @if(activeTab === 'user-management'){
      <div *appHasRole="['Admin']" class="relative overflow-x-auto">
        <app-user-management></app-user-management>
      </div>
    }
  </div>
</div>

  