<section class="container my-10 flex flex-wrap gap-5  justify-center">
<div class="columns-auto">
    <button (click)="getBadRequest()" class="block outline outline-sky-500 py-1 px-2 rounded-md hover:bg-sky-500 hover:text-white hover:outline-none">
        Bad Request
    </button>
</div>
<div class="columns-auto">
    <button (click)="getAuthError()" class="block outline outline-sky-500 py-1 px-2 rounded-md hover:bg-sky-500 hover:text-white hover:outline-none">
        Auth Error
    </button>
</div>
<div class="columns-auto">
    <button (click)="getNotFound()" class="block outline outline-sky-500 py-1 px-2 rounded-md hover:bg-sky-500 hover:text-white hover:outline-none">
        Not Found
     </button>
</div>
<div class="columns-auto">
    <button (click)="getServerException()" class="block outline outline-sky-500 py-1 px-2 rounded-md hover:bg-sky-500 hover:text-white hover:outline-none">
        Server Exception
     </button>
</div>
<div class="columns-auto">
    <button (click)="getValidationError()" class="block outline outline-sky-500 py-1 px-2 rounded-md hover:bg-sky-500 hover:text-white hover:outline-none">
        Validation Error
     </button>
</div>
<div class="w-full container">
    @if(ValidationErrors.length > 0){
        <ul class="list-none">
            @for(error of ValidationErrors;track $index){
                <li class="my-2 w-1/2 mx-auto bg-sky-300 rounded p-2">{{error}}</li>
            }
        </ul>
    }
</div>
</section>
