

<nav class="bg-red-500 h-20 fixed top-0 w-full z-20 border-gray-200 dark:bg-gray-900">
    <div class="flex justify-start items-center mx-auto max-w-screen-xl p-4">
       <div class="columns-auto">
        <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <span class="self-center text-2xl text-white font-bold border border-white rounded py-1 pe-2 whitespace-nowrap">
                <span class="bg-white text-red-500 rounded px-2 py-1">Our</span>Date
            </span>
        </a>
       </div>
      
        <div class="columns-auto ms-10">
            <ul class="flex flex-row font-medium mt-0 space-x-4 rtl:space-x-reverse text-sm">
                @if(IsLoggedIn()){
                <li>
                    <a routerLink="/members" routerLinkActive="bg-white text-red-500 bg-opacity-80 rounded" class="text-white font-bold px-4 py-2 cursor-pointer hover:bg-white hover:bg-opacity-50 hover:rounded">
                        Matches
                    </a>
                </li>
                <li>
                    <a routerLink="/lists" routerLinkActive="bg-white text-red-500 bg-opacity-80 rounded" class="text-white font-bold px-4 py-2 cursor-pointer hover:bg-white hover:bg-opacity-50 hover:rounded">
                        Lists
                    </a>
                </li>
                <li>
                    <a routerLink="/messages" routerLinkActive="bg-white text-red-500 bg-opacity-80 rounded" class="text-white font-bold px-4 py-2 cursor-pointer hover:bg-white hover:bg-opacity-50 hover:rounded">
                        Messages
                    </a>
                </li>
            }
            <li>
                <a routerLink="/errors" routerLinkActive="bg-white text-red-500 bg-opacity-80 rounded" class="text-white font-bold px-4 py-2 cursor-pointer hover:bg-white hover:bg-opacity-50 hover:rounded">
                    Errors Test
                </a>
            </li>
            </ul>
        </div>
      

      @if(IsLoggedIn()){
       <div class="relative flex justify-center items-center gap-5 columns-auto ms-auto">
        <img src="{{UserData()?.photoURL || './assets/images/default.webp'}}"
        class="w-10 h10 rounded-full"
        alt="user profile picture">
        <button (click)="toggle()" class="text-red-500 capitalize bg-white hover:bg-gray-100 hover:text-red-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
            Welcome {{UserData()?.username}}
            <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
        </button>
        @if(showDropdown()){
        <div class="z-10 absolute top-full end-0 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
              <li>
                <a [routerLink]="['/member/edit/profile']" (click)="toggle()"  class="block px-4 py-2 cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                    Edit profile
                </a>
              </li>
              <li>
                <a (click)="logout()"  class="block px-4 py-2 cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                    logout
                </a>
              </li>
            </ul>
        </div> 
       }
       </div>       
      }

       @if(!IsLoggedIn()){
        <form class="ms-auto" #loginForm="ngForm" (ngSubmit)="loginSubmit()">
            <div class="flex items-center space-x-6 rtl:space-x-reverse">
                <input [(ngModel)]="model().username" name="username" type="text" id="username" placeholder="Username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <input [(ngModel)]="model().password" name="password" type="password" id="password" placeholder="Password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <app-main-button Type="submit">Login</app-main-button>
            </div>
        </form>
       }
    </div>
</nav>
<p class="h-20"></p>
