<div [class.hidden]="HiddenTheModal()" class="fixed z-10 inset-0 bg-gray-800 bg-opacity-75 flex justify-center items-center">
    <div class="bg-white p-0 rounded-lg shadow-lg max-w-md w-full relative">
       <img class="w-full rounded" src="{{ImgSrc()}}" alt="">
        <button (click)="toggle()" class="absolute top-2 right-2 text-gray-600 hover:text-gray-900">
           <i class="fa-solid fa-close"></i>
        </button>
        <!-- <button class="bg-sky-500 text-white px-4 py-2 rounded">Close</button> -->
    </div>
</div>